.user-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.user-list article {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.user-list article strong {
    font-size: 20px;
}

.user-list article p {
    font-size: 16px;
    margin-top: 5px;
    line-height: 24px;
}

.user-list article p#destaque {
    font-size: 16px;
    font-weight: bold;
}